In [87]:
import yfinance as yf
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Getting Stock Data

In [89]:
data = yf.download("TSM", period="2y",progress=False)
data.index = data.index.strftime('%Y-%m-%d')
data

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,TSM,TSM,TSM,TSM,TSM,TSM
Date,,,,,,
2022-12-19,73.840797,76.099998,77.120003,75.760002,76.919998,12561300
2022-12-20,73.375053,75.620003,76.199997,74.900002,75.110001,12080600
2022-12-21,74.849937,77.139999,77.419998,75.769997,75.860001,10806100
2022-12-22,73.045143,75.279999,76.430000,74.019997,76.279999,13019700
2022-12-23,72.666725,74.889999,75.349998,74.169998,74.889999,7452600
...,...,...,...,...,...,...
2024-12-12,191.460007,191.460007,195.419998,191.289993,194.630005,7944900
2024-12-13,200.990005,200.990005,202.539993,197.270004,198.509995,19477000
2024-12-16,202.220001,202.220001,205.500000,200.869995,203.199997,15139300
2024-12-17,200.660004,200.660004,202.399994,197.470001,201.000000,11169400
2024-12-18,195.559998,195.559998,205.240005,193.960007,203.000000,14683200